#colCarga {
	padding: 0px 100px 100px 100px;
}

#filaCuadrado{
	background-color: #D2D6DE;
	border-radius: 6px
}

#filaTop{
	margin-top: 200px;
}

#mensaje1 {
	text-align: center;
	font-size: 1.2em;
}

#submitFila {
	padding-top: 35px;
	text-align: center;
}

#formCargar {
	padding: 10px 10px 10px 10px;
}

#botonCargar {
	border-style: solid;
	border-radius: 4px;
	border-color: lightgrey;
	background-color: white;
}

#botonCargar:hover {
	background-color: #D2D6DE;
}