
#columnaMedio {
	padding: 70px 150px 70px 150px;
}

#mensaje {
	text-align: center;
	padding-top: 15px;
	font-size: 1.2em;
}

#datosUsuario {
	padding: 15px 20px 15px 20px;
}

#cuadrado {
	background-color: #d2d6de;
	border-radius: 7px;
}

#boton {
	padding-top: 20px;
}

