<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 	<title>Avanzometro</title>
     	{% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>
<body>
<nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Avanzómetro</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Inicio</a></li>
        </ul>
      </div>
    </nav>
<div class="container">
   <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-login">
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              {% if form.errors %}
                  <p style="color: red">Tu correo y contraseña no coincide. Vuelve a intentar.</p>
                {% endif %}
              <form id="login-form" method="post" action="."" role="form" style="display: block;">
                {% csrf_token %}
                <h2><b>Ingresar</b></h2>
                  <div class="form-group">
                  {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}" />
                    {% for field in form %}
                      <p>
                        {{ field.label_tag }}<br>
                        {{ field }}<br>
                        {% for error in field.errors %}
                          <p style="color: red">{{ error }}</p>
                        {% endfor %}
                        {% if field.help_text %}
                          <p><small style="color: grey">{{ field.help_text }}</small></p>
                        {% endif %}
                      </p>
                    {% endfor %}
                  </div>
                 
                  <div class="col-xs-6 form-group pull-left checkbox">
                    <input id="checkbox" type="checkbox" name="remember" checked>
                    <label for="checkbox">Recordarme</label>   
                  </div>
                  <div class="col-xs-6 form-group pull-right">     
                        <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Ingresar">
                        <input type="hidden" name="next" value="/" />
                  </div>

              </form>
              
            </div>
          </div>
        </div>
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6 tabs">
              <a href="/login/" class="active" id="login-form-link"><div class="login">Ingreso</div></a>
            </div>
            <div class="col-xs-6 tabs">
              <a href="/signup/" id="register-form-link"><div class="register">Registro</div></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<link type="text/javascript" href="{% static 'js/bootstrap.min.js' %}">
	<link type="text/javascript" href="{% static 'js/npm.js' %}">
  	<link type="text/javascript" href="{% static 'js/main.js' %}">
  
</html>
