<!DOCTYPE html>
<html lang="en">
  <head>
  {% load static %}

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" id="bootstrap-css">
  <link rel="stylesheet" href="{% static 'css/common.css'%}">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <title>Buscamed - Inicia Sesión</title>

  </head>
  {% block content %}
  <body id="LoginForm">

    <div class="container">
      <div class="navigate">
        <a href="{% url 'home' %}"><h1 class="form-heading">Buscamed Venezuela</h1></a>
      </div>
      <div class="login-form">
        <div class="main-div">
          <div class="panel">
            <h2>Ingreso Farmacias</h2>
            <p>Por favor introduzca el correo inscrito y contraseña</p>
          </div>
          <form method="post" id="Login">
          {% csrf_token %}

            <div class="form-group">
              {{ form.username }}
            </div>

            <div class="form-group">
              {{ form.password }}
            </div>

            <div class="forgot">
              <a href="#" id="forgetPassword">Olvidó su contraseña?</a></br>
              <a href="#" id="signUp">Registrarse</a>
              <p id="secretMessage">Contáctanos a través de buscamedvzla@gmail.com</p>
            </div>

            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>

          </form>
        </div>
        <p class="botto-text"> Designed by Sunil Rajput</p>
      </div>
    </div>

  <script>
    $(document).ready(function(){
      $("#forgetPassword").click(function(){
          $("#secretMessage").toggle();
      });

      $("#signUp").click(function(){
          $("#secretMessage").toggle();
      });
    });
  </script>


  </body>
    {% endblock content %}

  
</html>
