<!DOCTYPE html>
<html lang="en">
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% load static %}

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"/>

  <!-- Custom fonts for this template -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css"/>
  <link href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet" type="text/css"/>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/landing-page.css' %}" rel="stylesheet"/>

  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{% static 'js/email.js' %}"></script>


  <title>BuscaMed - Inicia Sesión</title>

  </head>
  {% block content %}
  <body onload="loadEmail();">

 <!-- Navigation -->
    <nav class="navbar navbar-light text-white bg-light static-top navbar-blue">
      <div class="container">
        <div>
          <a class="navbar-brand" href="{% url 'home' %}">BuscaMed</a>
          <p>Busca tus medicinas en un solo lugar</p>
        </div>
      </div>
    </nav>

 <!-- Masthead -->
    <header class="masthead text-center">
        <div class="row">
          <div class="col-lg-4"></div>
          <div class="col-lg-4">
            <div class="login-form">
              <div class="main-div">
                <div class="panel">
                  <h2>Ingreso Farmacias</h2>
                  <p>Por favor introduzca el correo inscrito y contraseña</p>
                </div>
                <form method="post" id="Login">
                {% csrf_token %}

                  <div class="form-group">
                    {{ form.username }}
                  </div>

                  <div class="form-group">
                    {{ form.password }}
                  </div>

                  <div class="forgot">
                    <a href="#" id="forgetPassword">Olvidó su contraseña?</a></br>
                    <a href="#" id="signUp">Registrarse</a>
                    <p id="secretMessage">Contáctanos a través de <b id="email"></b></p>
                  </div>

                  <button type="submit" class="btn btn-primary btn-block btn-lg btn-orange">Iniciar Sesión</button>
                </form>
              </div>
            </div>
          </div>
          <div class="col-lg-4"></div>
        </div>
    </header>

    <!-- Footer -->
    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <img class="simonLogo" src="{% static 'img/logoUSB-blanco.gif' %}">
            <p class="footerText text-lg-right">&copy; Universidad Simón Bolivar</p>
            <p class="footerText text-lg-right"><b>EP4793</b> - Mini Proyecto de Desarrollo de Software <br/>Sep-Dic 2018 - 
              <b class="cursor-pointer" tabindex="0" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="top" data-html="true" title="Desarrollado por:" data-content='<div class="text-center">Lautaro Villalón<br/>Yarima Luciani<br/>Yezabel Rincón<br/><br/><b>Con la tutoría de:</b><br/>Prof. Ivette C. Martínez</div>'>
                Ver Detalle
              </b>
            </p>
            <p class="footerText text-lg-right">Sartenejas, Baruta, Edo. Miranda - Apartado 89000 Cable Unibolivar Caracas Venezuela.</p>
          </div>
          </div>
        </div>
      </div>
    </footer>

  <!-- JavaScripts -->
    <script src="{% static 'js/homeSearch.js' %}"></script>
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- secret message script -->
  <script>
    $(document).ready(function(){
      $("#forgetPassword").click(function(){
          $("#secretMessage").toggle();
      });

      $("#signUp").click(function(){
          $("#secretMessage").toggle();
      });
    });
  </script>

  <!-- popover script -->
  <script>
    $(function () {
      $('[data-toggle="popover"]').popover()
    });

    $('.popover-dismiss').popover({
      trigger: 'focus'
    });
  </script>

  </body>
  {% endblock content %}

  
</html>
