<!DOCTYPE html>
<html>
<head>
	<title>Lectura de archivo</title>
	{% load static %}
  <link href="{% static 'css/common.css' %}" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" id="bootstrap-css">
	
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>
{% block content %}
<body id="LoginForm">

<div class="container">
  <h1 class="form-heading">Buscamed Venezuela</h1>

  <div class="row">
   <!--  <div class="col-md-4"></div> -->


    <div class="col-md-12">
      <div class="search-div">
        <div class="panel">
          <input type="text" name="search" class="form-control" id="searchBox" placeholder="Búsqueda" onchange="startSearch();">
        </div>
      </div>
    </div>


   <!--  <div class="col-md-4"></div> -->

  </div>

  <div class="row">
    <div class="col-md-4"></div>


    <div class="col-md-4">
      <div class="multi-div">
        <div class="panel">
          <h2>Ingreso Inventario</h2>
          <p>Por favor seleccione el archivo .csv con el inventario a cargar:</p>
        </div>
    	  <div class="forgot">
    	    <a href="reset.html">Instrucciones</a>
    	  </div>

    	  <button onclick="" class="btn btn-primary">Cargar archivo</button>
      </div>
    </div>


    <div class="col-md-4"></div>

  </div>
</div>
<script>
  function startSearch() {
    
  }
</script>


</body>
{% endblock content %}
</html>