<!DOCTYPE html>
<html>
<head>
	<title>Lectura de archivo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{% load static %}
	
  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"/>

  <!-- Custom fonts for this template -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css"/>
  <link href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet" type="text/css"/>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/landing-page.css' %}" rel="stylesheet"/>

  <!-- JavaScripts -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

	<script src="{% static 'js/jquery.csv.js'%}"></script>
  <script src="{% static 'js/readFile.js' %}"></script>

	<!-- file upload and toastr js -->
	<link href="{% static 'fileuploads/css/dropify.min.css' %}" rel="stylesheet" type="text/css" />
	<script src="{% static 'fileuploads/js/dropify.js' %}"></script>

</head>
{% block content %}
<body id="LoginForm">

 <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top navbar-blue">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">Buscamed</a>
        <a id="logoutButton" href="{% url 'logout' %}">Salir</a> 
      </div>
    </nav>

 <!-- Masthead -->
    <header class="masthead text-white text-center">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="login-form">
              <div class="main-div">
               <div class="panel">
                <h2>Ingreso Inventario</h2>
                <p>Por favor seleccione el archivo .csv con el inventario a cargar:</p>
                </div>
                <form id="Login" method="post" action="">
                  {% csrf_token %}

                  <div class="form-group">
                      <input type="file" name="fileName" id="fileName" class="dropify" data-allowed-file-extensions="csv"> 
                  </div>

                  <input type="hidden" id="csv" name="csv">
                  <button type="submit" id="formButton" style="display: none;"></button>
                </form>
                <div class="forgot">
                  <a href="#" onclick="instructions();" id="instructions">Instrucciones</a>
                </div>
                <button onclick="readCSV()" class="btn btn-primary btn-orange">Cargar archivo</button>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Footer -->
    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-3">
               <h5>Informacion USB</h5>
              </li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">&copy; Creditos</p>
          </div>
        </div>
      </div>
    </footer>



<!-- Alert Script -->
<script type="text/javascript">
    var context = {{ success }};

    if (context > 0) {
      alert("Carga exitosa!");
    }
    else if (context == 0) {
      alert("Error: Hubo un error en la carga del archivo. Por favor contacte a los administradores")
    }
</script>

<!-- dropify script -->
<script type="text/javascript">
    $('.dropify').dropify({
        messages: {
            'default': 'Arrastre el archivo o haga click para cargarlo',
            'replace': 'Arrastre el archivo o haga click para reemplazarlo',
            'remove': 'Borrar',
            'error': '¡Uy! Algo va mal'
        },
        error: {
            'fileSize': 'El tamaño del archivo es muy grande (1M max)'
        }
    });
</script>

<!-- toggle script -->
<script>
  $(document).ready(function(){
    $("#instructions").click(function(){
      $("#secretMessage").toggle();
    });
  });
</script>

</body>
{% endblock content %}
</html>