<!DOCTYPE html>
<html>
<head>
	<title>Lectura de archivo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{% load static %}
	
  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"/>

  <!-- Custom fonts for this template -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css"/>
  <link href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet" type="text/css"/>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/landing-page.css' %}" rel="stylesheet"/>

  <!-- JavaScripts -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

	<script src="{% static 'js/jquery.csv.js'%}"></script>
  <script src="{% static 'js/readFile.js' %}"></script>

	<!-- file upload and toastr js -->
	<link href="{% static 'fileuploads/css/dropify.min.css' %}" rel="stylesheet" type="text/css" />
	<script src="{% static 'fileuploads/js/dropify.js' %}"></script>

</head>
{% block content %}
<body id="LoginForm">

 <!-- Navigation -->
    <nav class="navbar navbar-light text-white bg-light static-top navbar-blue">
      <div class="container">
        <div>
          <a class="navbar-brand" href="{% url 'home' %}">BuscaMed</a>
          <p>Busca tus medicinas en un solo lugar</p>
        </div>
        <a id="logoutButton" href="{% url 'logout' %}">Salir</a> 
      </div>
    </nav>

 <!-- Masthead -->
    <header class="masthead text-white text-center">
      <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">

          <div id="mensajeCarga" style="display:none;" class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            Carga exitosa!
          </div>
          <div id="mensajeError" style="display:none;" class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            Error: Hubo un error en la carga del archivo. Por favor contactenos.
          </div>

          <div class="login-form">
            <div class="main-div">
             <div class="panel">
              <h2>Ingreso Inventario</h2>
              <p>Por favor seleccione el archivo .csv con el inventario a cargar:</p>
              </div>
              <form id="Login" method="post" action="">
                {% csrf_token %}

                <div class="form-group">
                    <input type="file" name="fileName" id="fileName" class="dropify" data-allowed-file-extensions="csv"> 
                </div>

                <input type="hidden" id="csv" name="csv">
                <button type="submit" id="formButton" style="display: none;"></button>
              </form>
              <div class="forgot">
                <a class="cursor-pointer" tabindex="0" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="left" data-html="true" title="Instrucciones:" data-content='<div class="text-left">Debe subir un archivo .csv que tenga las siguientes columnas:<br/><b>activo, medicina, presentacion y disponibilidad.</b><br/>Puede contener otras columnas, pero las anteriores deben aparecer con dichos nombres.</div>'>
                  Instrucciones
                </a>
              </div>
              <button onclick="readCSV()" class="btn btn-primary btn-orange">Cargar archivo</button>
            </div>
          </div>
        </div>
        <div class="col-lg-4"></div>
      </div>
    </header>

    <!-- Footer -->
    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <img class="simonLogo" src="{% static 'img/logoUSB-blanco.gif' %}">
            <p class="footerText text-lg-right">&copy; Universidad Simón Bolivar</p>
            <p class="footerText text-lg-right"><b>EP4793</b> - Mini Proyecto de Desarrollo de Software <br/>Sep-Dic 2018 - 
              <b class="cursor-pointer" tabindex="0" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="top" data-html="true" title="Desarrollado por:" data-content='<div class="text-center">Lautaro Villalón<br/>Yarima Luciani<br/>Yezabel Rincón<br/><br/><b>Con la tutoría de:</b><br/>Prof. Ivette C. Martínez</div>'>
                Ver Detalle
              </b>
            </p>
            <p class="footerText text-lg-right">Sartenejas, Baruta, Edo. Miranda - Apartado 89000 Cable Unibolivar Caracas Venezuela.</p>
          </div>
          </div>
        </div>
      </div>
    </footer>


<!-- dropify script -->
<script type="text/javascript">
    $('.dropify').dropify({
        messages: {
            'default': 'Arrastre el archivo o haga click para cargarlo',
            'replace': 'Arrastre el archivo o haga click para reemplazarlo',
            'remove': 'Borrar',
            'error': '¡Uy! Algo va mal'
        },
        error: {
            'fileSize': 'El tamaño del archivo es muy grande (1M max)'
        }
    });
</script>

<!-- Alert Script -->
<script type="text/javascript">

  var context = {{ success }};

  if (context > 0) {
    $('#mensajeCarga').show();    
  }
  else if (context == 0) {
    $('#mensajeError').show();    
  }

</script>

<!-- toggle script -->
<script>
  $(document).ready(function(){
    $("#instructions").click(function(){
      $("#secretMessage").toggle();
    });
  });
</script>

<!-- popover script -->
<script>
  $(function () {
    $('[data-toggle="popover"]').popover()
  });

  $('.popover-dismiss').popover({
    trigger: 'focus'
  });
</script>

</body>
{% endblock content %}
</html>